<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary elec_new">Nueva</button>
  <button type="button" class="btn btn-secondary elec_upd">Gestion</button>  
</div>
<div class="container elec_conte"></div>
<script>
	$(document).on('click', '.elec_new', function(event) {
		event.preventDefault();
		$.ajax({
			url: 'views/elec_new.html',
			type: 'POST'
		})
		.done(function(data){

			$('.elec_conte').html(data);
			$.ajax({
				url: 'views/combo_profes.html',
				type: 'POST'
			})
			.done(function(data){

				$('.combo_profes').html(data);

			});			

		});
		
	});
	$(document).on('click','.elec_upd', function(event) {
		event.preventDefault();
		$.ajax({
			url: 'views/elec_upd.html',
			type: 'POST'
		})
	.done(function(data){
						
			$('.elec_conte').html(data);

	});
		
	});	
</script>